@import "../../../styles/const.scss";
@import "../../../styles/colors/index.scss";

.c-sidebar {
    .c-sidebar__content {
        position: fixed;
        width: $sidebar-width;
        height: 100vh;
        overflow: auto;

        background-color: $background-color-1;
        text-align: center;

        .c-sidebar__content-logo {
            line-height: $app-bar-height-mobile;

            img {
                max-height: 40px;
                max-width: 40px;
                vertical-align: middle;
            }
        }

        @media (min-width: $desktop-min-width) {
            .c-sidebar__content-logo {
                line-height: $app-bar-height-desktop;
            }
        }
    }
}

.c-sidebar-item {
    &:hover {
        background-color: $background-color-2;
    }
    .c-sidebar-item-link {
        color: $white;
        text-decoration: none;
    }

    .c-sidebar-item-link__content {
        padding: 10px 0;
        border-left-width: 5px;
        border-left-style: solid;
        border-left-color: transparent;
    }

    .c-sidebar-item__active .c-sidebar-item-link__content {
        border-left-color: $white;
        background-color: $background-color-3;
    }

    .c-sidebar-item-link__content-title {
        font-size: $font-size-1;
    }
}
