//@import "./amber.scss";
@import "./blue.scss";
@import "./blueGrey.scss";
//@import "./brown.scss";
@import "./common.scss";
//@import "./cyan.scss";
//@import "./deepOrange.scss";
//@import "./deepPurple.scss";
//@import "./green.scss";
//@import "./grey.scss";
//@import "./indigo.scss";
//@import "./lightBlue.scss";
//@import "./lightGreen.scss";
//@import "./lime.scss";
//@import "./orange.scss";
//@import "./pink.scss";
//@import "./purple.scss";
@import "./red.scss";
//@import "./teal.scss";
//@import "./yellow.scss";

// Material-ui theme configuration
$primary-main: $blue-grey-700;
$secondary-main: $blue-900;

// Text
//$color-title-1: ; // Title level 1
//$color-title-2: ; // Title level 2
//$color-title-3: ; // Title level 3

$color-text-1: $blue-grey-900; // Text level 1
$color-text-2: $primary-main; // Text level 2

$color-error-1: $red-500; // Error

// Background
$background-color-1: $blue-grey-900;
$background-color-2: $blue-grey-800;
$background-color-3: $primary-main;
$background-color-default: $blue-grey-50;

// Border
//$border-color-1:;

// Font-size
$font-size-1: 12px;
