$yeallow-50: #fffde7;
$yeallow-100: #fff9c4;
$yeallow-200: #fff59d;
$yeallow-300: #fff176;
$yeallow-400: #ffee58;
$yeallow-500: #ffeb3b;
$yeallow-600: #fdd835;
$yeallow-700: #fbc02d;
$yeallow-800: #f9a825;
$yeallow-900: #f57f17;
$yeallow-A100: #ffff8d;
$yeallow-A200: #ffff00;
$yeallow-A400: #ffea00;
$yeallow-A700: #ffd600;
