@import "./02-core/styles/font.scss";
@import "./02-core/styles/colors/index.scss";

body {
    font-family: $font-family;
    color: $color-text-1;
    background-color: $background-color-default;
    margin: 0;
}

[my-app="app"] {
    .title {
        margin-bottom: 20px;
        font-weight: bold;
    }
}
