@import "./02-core/styles/font.scss";
@import "./02-core/styles/colors/index.scss";

body {
    font-family: $font-family;
    color: $blue-grey-900;
    background-color: $background-color-5;
    margin: 0;
}

[my-app="app"] {
    .title {
        margin-bottom: 20px;
        font-weight: bold;
    }
}
